html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.postNewContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 850px;
}

.postNewContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    background-image: url('../../assets/background-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.formSection {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messageForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.messageContainer {
    height: 80%;
    padding: 15px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    margin-top: auto;
}

.textInput {
    width: 100%;
    min-height: 80%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: var(--font-headers);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    word-spacing: 3px;
    color: rgb(97, 96, 96);
    box-sizing: border-box;
    white-space: normal;
    overflow-wrap: break-word;
    resize: none;
}

.textInput::placeholder {
    color: rgba(97, 96, 96, 0.5);
    font-family: var(--font-headers);
    font-size: 14px;
    letter-spacing: .6px;
    font-style: italic;
}


.userInput {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: var(--font-headers);
    font-size: 15px;
    color: rgb(68, 68, 68);
    box-sizing: border-box;
}

.userInput::placeholder {
    color: rgba(97, 96, 96, 0.5);
    font-family: var(--font-headers);
    font-size: 14px;
    letter-spacing: .6px;
    font-style: italic;
}

.postBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.successMessage {
    color: green;
    margin-top: 10px;
}

.errorMessage {
    color: red;
    margin-top: 10px;
}