html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 850px;
    margin: 0 auto;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainContent {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-image: url('../../assets/background-img.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

footer {
    font-size: 24px;
    font-weight: 800;
    padding: 15px;
    min-height: 70px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

/*.navOverlay {
    position: fixed;
    top: 70px;
    left: 50%;
    max-width: 850px;
    height: calc(100vh - 70px);
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 900;
}*/