* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #00A884;
  --red: #DA1717;
  --font-headers: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6f2;
}

.app {
  width: 850px;
  min-width: 380px;
  max-width: 100vw;
  min-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

@media (max-width: 850px) {
  .app {
    width: calc(100vw);
    max-width: 850px;
    min-width: 380px;
  }
}