* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #00A884;
  --red: #DA1717;
  --font-headers: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6f2;
}

.app {
  min-width: 380px;
  max-width: 1200px;
  min-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

/*.header {
  color: var(--green);
  font-family: var(--font-headers);
  font-size: 30px;
  font-weight: 800;
  padding: 15px;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}*/

/*.footer {
  color: var(--green);
  font-family: var(--font-headers);
  font-size: 24px;
  font-weight: 800;
  padding: 15px;
  min-height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

.main-content {
  flex: 1; 
  padding: 20px;
}*/